.message-list-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.message-list {
  max-height: 88vh;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  justify-content: flex-end;
}
